PI_2_CAJATI_SITE_OK.json
[
    {
        "id": "7399056ae9340ce7",
        "type": "tab",
        "label": "Flow_Pi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a00cf68be2b48cf",
        "type": "serial in",
        "z": "7399056ae9340ce7",
        "name": "Arduino_input",
        "serial": "120923a2d1ded854",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "597cb5bdb334d327"
            ]
        ]
    },
    {
        "id": "597cb5bdb334d327",
        "type": "function",
        "z": "7399056ae9340ce7",
        "name": "Func data+horas",
        "func": "var data = new Date(); \n//cria um objeto relacionado com a data\n\nvar dataAsString = data.toLocaleDateString();\n//usa a variavel data e adiciona a data local\n\nvar horaAsString = data.toLocaleTimeString();\n//usa a variavel data e adiciona as horas do  local\n\nvar saudacao = \"oi sua porta está \";\n\n\nmsg.porta =msg.payload + dataAsString + \" as \" + horaAsString;\n\nmsg.payload = [msg.payload, dataAsString, horaAsString];\n\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "cc0bae1a0a9130c2",
                "5e5f68690fa080a2",
                "6fd5781f582367ae"
            ]
        ]
    },
    {
        "id": "8b960c1d6c0dfc3a",
        "type": "file",
        "z": "7399056ae9340ce7",
        "name": "Arquivo CSV",
        "filename": "\\temp\\db.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "setbymsg",
        "x": 790,
        "y": 300,
        "wires": [
            [
                "8201c210d55c51d3",
                "dec42a8847302ad6"
            ]
        ]
    },
    {
        "id": "6fd5781f582367ae",
        "type": "csv",
        "z": "7399056ae9340ce7",
        "name": "CSV",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "8b960c1d6c0dfc3a"
            ]
        ]
    },
    {
        "id": "dec42a8847302ad6",
        "type": "debug",
        "z": "7399056ae9340ce7",
        "name": "test1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "cc0bae1a0a9130c2",
        "type": "ui_text",
        "z": "7399056ae9340ce7",
        "group": "725ac1df3a05a880",
        "order": 0,
        "width": "6",
        "height": "4",
        "name": "Porta",
        "label": "Sua Porta está:",
        "format": "{{msg.porta}}",
        "layout": "col-center",
        "x": 550,
        "y": 220,
        "wires": [],
        "icon": "node-red/file.svg"
    },
    {
        "id": "5e5f68690fa080a2",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "7399056ae9340ce7",
        "d": true,
        "name": "Notificação",
        "credtype": "account",
        "account": "1539ad7478bc435c",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "453efad1017f8dfd"
            ]
        ],
        "info": "<html>\r\n\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n</head>\r\n\r\n<body>\r\n  TESTE, Precisamo colocar o arquivo CVS aqui\r\n</body>\r\n\r\n</html>"
    },
    {
        "id": "8201c210d55c51d3",
        "type": "mysql-r2",
        "z": "7399056ae9340ce7",
        "name": "",
        "host": "localhost",
        "database": "",
        "username": "",
        "password": "",
        "sql": "",
        "port": "3306",
        "pooling": false,
        "waitForConnections": true,
        "connectionLimit": "10",
        "queueTimeout": "10000",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "453efad1017f8dfd",
        "type": "debug",
        "z": "7399056ae9340ce7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "120923a2d1ded854",
        "type": "serial-port",
        "serialport": "com4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "725ac1df3a05a880",
        "type": "ui_group",
        "name": "Sistema de Segurança",
        "tab": "1aa290a6673a8e43",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1539ad7478bc435c",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "antonio"
    },
    {
        "id": "1aa290a6673a8e43",
        "type": "ui_tab",
        "name": "UNIVESP - CAJATI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]