PI_2_CAJATI_VER3.json
[
    {
        "id": "1f9649fed442608a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf43d8a89c840572",
        "type": "serial in",
        "z": "1f9649fed442608a",
        "name": "Arduino_input",
        "serial": "120923a2d1ded854",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "cca5ba0d8be74341"
            ]
        ]
    },
    {
        "id": "cca5ba0d8be74341",
        "type": "function",
        "z": "1f9649fed442608a",
        "name": "Func data+horas",
        "func": "var data = new Date(); \n//cria um objeto relacionado com a data\n\nvar dataAsString = data.toLocaleDateString();\n//usa a variavel data e adiciona a data local\n\nvar horaAsString = data.toLocaleTimeString();\n//usa a variavel data e adiciona as horas do  local\n\nvar saudacao = \"oi sua porta está \";\n\nmsg.porta = msg.payload + dataAsString + \" as \" + horaAsString\n\nmsg.payload= msg.payload + dataAsString  + horaAsString;\n\n\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "2112562614047855",
                "b9f3b1116245624d",
                "9ec7c1f553a2e1ce"
            ]
        ]
    },
    {
        "id": "733e6f5c96124b4f",
        "type": "file",
        "z": "1f9649fed442608a",
        "name": "Arquivo CSV",
        "filename": "\\temp\\db.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "508093d49c673e30",
                "21ae6f218ffbb709"
            ]
        ]
    },
    {
        "id": "b9f3b1116245624d",
        "type": "csv",
        "z": "1f9649fed442608a",
        "name": "CSV",
        "sep": ":",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "5cdd6c643971c420",
                "733e6f5c96124b4f"
            ]
        ]
    },
    {
        "id": "4243f6cb7dad16b0",
        "type": "http response",
        "z": "1f9649fed442608a",
        "name": "html response",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "508093d49c673e30",
        "type": "debug",
        "z": "1f9649fed442608a",
        "d": true,
        "name": "test1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "2112562614047855",
        "type": "ui_text",
        "z": "1f9649fed442608a",
        "group": "725ac1df3a05a880",
        "order": 0,
        "width": "6",
        "height": "7",
        "name": "Porta",
        "label": "Sua Porta está:",
        "format": "{{msg.porta}}",
        "layout": "col-center",
        "x": 550,
        "y": 220,
        "wires": [],
        "icon": "node-red/file.svg"
    },
    {
        "id": "5cdd6c643971c420",
        "type": "template",
        "z": "1f9649fed442608a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body>\n  TESTE, Precisamo colocar o arquivo CVS aqui\n</body>\n\n</html>",
        "output": "str",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "4243f6cb7dad16b0"
            ]
        ]
    },
    {
        "id": "d8fba43b01932561",
        "type": "http in",
        "z": "1f9649fed442608a",
        "name": "PI2",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "5cdd6c643971c420"
            ]
        ]
    },
    {
        "id": "9ec7c1f553a2e1ce",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "1f9649fed442608a",
        "name": "Notificação",
        "credtype": "account",
        "account": "1539ad7478bc435c",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "2ed6589209d6a9cf"
            ]
        ],
        "info": "<html>\r\n\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n</head>\r\n\r\n<body>\r\n  TESTE, Precisamo colocar o arquivo CVS aqui\r\n</body>\r\n\r\n</html>"
    },
    {
        "id": "21ae6f218ffbb709",
        "type": "mysql-r2",
        "z": "1f9649fed442608a",
        "name": "",
        "host": "localhost",
        "database": "",
        "username": "",
        "password": "",
        "sql": "",
        "port": "3306",
        "pooling": false,
        "waitForConnections": true,
        "connectionLimit": "10",
        "queueTimeout": "10000",
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2ed6589209d6a9cf",
        "type": "debug",
        "z": "1f9649fed442608a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "120923a2d1ded854",
        "type": "serial-port",
        "serialport": "com4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "725ac1df3a05a880",
        "type": "ui_group",
        "name": "Sistema de Segurança",
        "tab": "1aa290a6673a8e43",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1539ad7478bc435c",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "antonio"
    },
    {
        "id": "1aa290a6673a8e43",
        "type": "ui_tab",
        "name": "UNIVESP - CAJATI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]