PI_Cajati.json
[
    {
        "id": "db7aa2d1d5b3eb62",
        "type": "tab",
        "label": "PI Cajati",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8831f626fe26fc0f",
        "type": "serial in",
        "z": "db7aa2d1d5b3eb62",
        "name": "Arduino_input",
        "serial": "120923a2d1ded854",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "0ee55fb315d5e5c2",
                "5f495e57189188bc"
            ]
        ]
    },
    {
        "id": "0ee55fb315d5e5c2",
        "type": "function",
        "z": "db7aa2d1d5b3eb62",
        "name": "Func data+horas",
        "func": "var data = new Date();\n\nvar dataAsString = data.toLocaleDateString();\nvar horaAsString = data.toLocaleTimeString();\n\nmsg.payload = msg.payload + dataAsString +\" as \"+ horaAsString;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "08e60e68fd70ba96",
                "5fd8e746869df991"
            ]
        ]
    },
    {
        "id": "5f495e57189188bc",
        "type": "ui_toast",
        "z": "db7aa2d1d5b3eb62",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Atenção",
        "name": "Notificacao",
        "x": 530,
        "y": 460,
        "wires": [],
        "icon": "font-awesome/fa-hand-peace-o"
    },
    {
        "id": "f88de56019a3eb1a",
        "type": "file",
        "z": "db7aa2d1d5b3eb62",
        "name": "Arquivo CVS",
        "filename": "\\temp\\db.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "08e60e68fd70ba96",
        "type": "csv",
        "z": "db7aa2d1d5b3eb62",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "status",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "f88de56019a3eb1a",
                "5c0729a6cc0bf81b"
            ]
        ]
    },
    {
        "id": "5eb58782fd55f634",
        "type": "http in",
        "z": "db7aa2d1d5b3eb62",
        "name": "PI2",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "f2c9777a38387aa0"
            ]
        ]
    },
    {
        "id": "9aafc9836e53e55b",
        "type": "http response",
        "z": "db7aa2d1d5b3eb62",
        "name": "httml response",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "f2c9777a38387aa0",
        "type": "function",
        "z": "db7aa2d1d5b3eb62",
        "name": "convert",
        "func": "\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 740,
        "wires": [
            [
                "9aafc9836e53e55b"
            ]
        ]
    },
    {
        "id": "5c0729a6cc0bf81b",
        "type": "debug",
        "z": "db7aa2d1d5b3eb62",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "5fd8e746869df991",
        "type": "ui_text",
        "z": "db7aa2d1d5b3eb62",
        "group": "725ac1df3a05a880",
        "order": 0,
        "width": "6",
        "height": "7",
        "name": "Porta",
        "label": "Sua Porta está:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "120923a2d1ded854",
        "type": "serial-port",
        "serialport": "com4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "725ac1df3a05a880",
        "type": "ui_group",
        "name": "Sistema de Segurança",
        "tab": "1aa290a6673a8e43",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1aa290a6673a8e43",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]